@model API_UG.Models.Company

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CompanyId" />
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDelegate" class="control-label"></label>
                <input asp-for="CompanyDelegate" class="form-control" />
                <span asp-validation-for="CompanyDelegate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyInn" class="control-label"></label>
                <input asp-for="CompanyInn" class="form-control" />
                <span asp-validation-for="CompanyInn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyAddress" class="control-label"></label>
                <input asp-for="CompanyAddress" class="form-control" />
                <span asp-validation-for="CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyLogin" class="control-label"></label>
                <input asp-for="CompanyLogin" class="form-control" />
                <span asp-validation-for="CompanyLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyPassword" class="control-label"></label>
                <input asp-for="CompanyPassword" class="form-control" />
                <span asp-validation-for="CompanyPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
